@font-face {
	font-family: "Open Sans";
	src: url('../font/open-sans/OpenSans-Regular.ttf') format('ttf');
	font-weight: 400;
}

body {
	margin: 0px;
	font-family: "Open sans", sans-serif;
	overflow: hidden;
}
